body {
  background: rgb(224, 224, 224);
  font-family: Arial;
  margin: 0;
}


h1 {
  text-align: center;
  margin: 20px 0;
}


.feed {
  display: flex;
  flex-direction: column;   
  align-items: center;     
  gap: 40px;                
  padding-bottom: 40px;
}


.post {
  background: white;
  width: 994px;
}


.post img {
  width: 100%;
  display: block;
}


.post p {
  font-size: 20px;
  padding: 10px;
}
